<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-link" [routerLink]="['/musicbrainz']" routerLinkActive="active" aria-current="page" href="#">MusicBranz</a>
        <a class="nav-link" [routerLink]="['/lastfm']" routerLinkActive="active" aria-current="page" href="#">Last.fm</a>
        <a class="nav-link"  routerLinkActive="active" href="#">Favourites</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
